.header{
    grid-area: h;
    background-color: cornsilk;
    width: 90%;
}
.loginBlock {
    float: right;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.loginBlock a {
    color: white;
}
.loginBlock button{
    background-color: sandybrown;
    border-radius: 30PX;
    height: 30px;
    width: 80px;
    border: 1px  solid saddlebrown;
}
.loginBlock button:hover{
    background-color: orange;
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}
.logo{
    height: 70px;
}
