.descriptionBlock{
width: 80%;
color: darkblue;
text-align: left;
padding: 1%;
}

.mainPhoto {
    max-width: 200px;
    max-height: 200px;
} 

.contact {
    padding-left: 10px;
} 
.descriptionBlock img{
    border: 2px solid black;
    width: 100px;
    height: 100px;
}
.status{
    width: 80%;
    padding: 1%;
}
.photo img{
    height: 250px;
    width: 250px;
}